on:
  workflow_call:
    inputs:
      release-tag-name:
        required: true
        type: string
      push:
        required: true
        type: boolean

env:
  repo: "ghcr.io/xoraxiom"
  controllerImageName: "harvester-vm-dhcp-controller"
  agentImageName: "harvester-vm-dhcp-agent"
  webhookImageName: "harvester-vm-dhcp-webhook"

jobs:
  dapper-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Run dapper
      run: make ci

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      if: ${{ inputs.push == true }}
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Docker Build (Controller)
      uses: docker/build-push-action@v5
      with:
        provenance: false
        context: .
        platforms: linux/amd64,linux/arm64
        file: package/Dockerfile
        push: ${{ inputs.push }}
        tags: ${{ env.repo }}/${{ env.controllerImageName }}:${{ inputs.release-tag-name }}

    - name: Docker Build (Agent)
      uses: docker/build-push-action@v5
      with:
        provenance: false
        context: .
        platforms: linux/amd64,linux/arm64
        file: package/Dockerfile.agent
        push: ${{ inputs.push }}
        tags: ${{ env.repo }}/${{ env.agentImageName }}:${{ inputs.release-tag-name }}

    - name: Docker Build (Webhook)
      uses: docker/build-push-action@v5
      with:
        provenance: false
        context: .
        platforms: linux/amd64,linux/arm64
        file: package/Dockerfile.webhook
        push: ${{ inputs.push }}
        tags: ${{ env.repo }}/${{ env.webhookImageName }}:${{ inputs.release-tag-name }}
